<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body>
    <h1 style="text-align: center; margin-top: 200px;">Counter</h1>
    <p style="text-align: center;">{{session.get('visits')}} times</p>
    <button style="align-self: auto;" type="button" >Add two visits!</button>
    <button style="text-align: center" type="button" >Reset</button>
    
</body>
</html>