<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>
        {% with messages = get_flashed_messages() %}   
            {% if messages %}                           
                {% for message in messages %}   
                           
                    <button style="background-color: green;">{{message}}</button>
                {% endfor %}
            {% endif %}
            {% endwith %}
        <h3 style="text-decoration: underline">Email Address Entered:</h3>
        {% for email in emails %}
        
        
            <p>{{email['email']}}   {{email['created_at'] }} <form action="/delete/{{email['id']}}" method="POST"><button>Delete</button></form></p>
        
        
        {% endfor %}
</body>
</html>