<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semi-Restful Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1>All Users</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Created At</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for user in all_users %}  
              <tr>
                <th scope="row">{{ user['user_id'] }}</th>
                <td>{{ user['first_name']+" "+user['last_name'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['created_at'] }}</td>
                <td>Show | Edit | Delete</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- <a href="create.html">Create a new user</a> -->
        <form action="/users/new">
            <button>Create a new user</button>
        </form> 

    </div>
</body>
</html>