*{
    margin: 0px;
    padding: 0px;
    /* margin: 0px auto; */
    vertical-align: top;
}

#wrapper{
    width: 970px;
    background-color: lightblue;
    display: inline-block;
}

#header{
    height: 100px;
    background-color: red;
    color: darkorchid;
    margin: 5px;
}

#sidebar{
    height: 200px;
    width: 300px;
    background-color: green;
    margin: 5px;
    color: lavenderblush;
    padding: 5px;
}

#main_content{
    background-color: black;
    width: 400px;
    height: 600px;
}