*{
    border: 0px;
    margin: 0px;
}

.box1{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: solid 1px blue;
    background-color: red;
}

.box2{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: solid 1px green;
    background-color: black;
}