<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playground Assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/mystyle.css') }}">
</head>
<body>
    <h1>Welcome!</h1>
    <div class="box">
        <ul>
            {% for item in range(a_number) %}
            <li style="background-color: {{a_color}}"></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>