<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' crossorigin='anonymous'>

</head>
<body>
    <h1>Welcome to the admin page</h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Level</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{user['id']}}</th>
            <td>{{user['first_name']}} {{user['last_name']}}</td>
            <td>{{user['email']}}</td>
            <td>{{user['user_level']}}</td>
            <td><a href="/remove/{{user['id']}}">Remove User</a> | <a href="/change/{{user['id']}}">Change Level</a></td>
            
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              <p style="color:red">{{ message }}</p>
          {% endfor %}
      {% endif %}
      {% endwith %}
    <div class="logout">
        <form action='/logout'>
            <input type='submit' value='logout'>
        </form>
    </div>
</body>
</html>